<%= render "shared/header" %>

<div class="container automation_scenario">
  <div class="row">
    <div class="col-sm-12">
      <h1>AutomationScenarios</h1>
    </div>
    <div class="col-sm-4 automation-scenario-left">
      <%= form_for :automation_scenario do |f| %>
        Owner Type: <%= f.text_field :owner_type %><br />
        Owner ID : <%= f.text_field :owner_id %><br />
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>



