.container
  .row
    .col
      %h2 All Automation Scenarios
  .row
    - @automation_scenarios.each do |automation_scenario|
      .col-4
        %h4= link_to automation_scenario.display_name, automation_scenario
        .row
          .col Iteration Count:
          .col= automation_scenario.iteration_count
        .row
          .col Solutions Count:
          .col= automation_scenario.solutions.count
  .row
    .col
      %h2 A New Automation Scenario
  .row
    .col
      = form_for :automation_scenario do |f|
        Name:
        = f.text_field :name
        %br/
        Iteration Count *:
        = f.text_field :iteration_count
        %br/
        = f.submit
