.container.automation-scenario
  %div
    %h1
      Automation Scenario
      - if @automation_scenario.name.present?
        = surround '"', '"' do
          = @automation_scenario.name
  .col-sm-4.automation-scenario-left
    = form_for @automation_scenario do |f|
      %div
        Name :
        = f.text_field :name, placeholder: 'Scenario name'
      %div
        Number of Iterations :
        = f.number_field :iteration_count

      = f.fields_for :solutions do |s|
        %div
          - if s.object.persisted?
            = succeed ':' do
              = s.object.display_name
          - else
            Add New Solution:
        %div
          Initial Cost:
          = s.number_field :initial_cost
        %div
          Cost per Iteration :
          = s.number_field :iteration_cost
          = s.hidden_field(:automation_scenario_id, value: @automation_scenario.id)
      = f.submit 'Update Automation Scenario'
  .col-sm-8.automation-scenario-right
    #solutionsChart
%p#scenarioSolutions{:hidden => ""}
  = ActiveModel::Serializer::CollectionSerializer.new(     |
      @automation_scenario.solutions.reject(&:new_record?) |
    ).to_json                                              |
