<h1>AutomationScenarios#show</h1>

<div id="solutionsChart"></div>

<div>
<%= form_for @automation_scenario do |f| %>
  Number of Iterations : <%= f.number_field :iteration_count %>
  <%= f.fields_for :solutions do |s| %>
    <div>
      <% if s.object.persisted? %>
        Solution #<%= s.object.id %>:
      <% else %>
          A new solution:
      <% end %>
      Initial Cost: <%= s.number_field :initial_cost %>
      Cost per Iteration : <%= s.number_field :iteration_cost %>
      <%= s.hidden_field(:automation_scenario_id, value: @automation_scenario.id) %>
    </div>
  <% end %>
  <%= f.submit %>
<% end %>
</div>

<p hidden id="scenarioSolutions">
  <%=
    ActiveModel::Serializer::CollectionSerializer.new(
      @automation_scenario.solutions.reject(&:new_record?)
    ).to_json
  %>
</p>
