<h1>AutomationScenarios#show</h1>
<p>Id: <%= @automation_scenario.id %></p>
<p>Owner Type: <%= @automation_scenario.owner_type %></p>
<p>Owner Id: <%= @automation_scenario.owner_id %></p>
<p>Created At: <%= @automation_scenario.created_at %></p>
<p>Updated At: <%= @automation_scenario.updated_at %></p>
