<h1>AutomationScenarios#show</h1>

<div>
<%= form_for :solution, url: url_for(action: :create, controller: :solutions) do |f| %>
  Initial Cost: <%= f.number_field :initial_cost %>
  Cost per Iteration : <%= f.number_field :iteration_cost %>
  Number of Iterations : <%= f.number_field :iteration_count %>
  <%= f.hidden_field(:automation_scenario_id, value: @automation_scenario.id) %>
  <%= f.submit %>
<% end %>
</div>

<%= form_tag '', id: 'chart-form' do %>
  <%= label_tag 'initial_cost', 'Initial Cost' %>
  <%= text_field_tag 'initial_cost', nil, id: 'initial_cost', placeholder: '5' %>
  <%= label_tag 'cost_per_iteration', 'Cost per Iteration' %>
  <%= text_field_tag 'cost_per_iteration', nil, id: 'cost_per_iteration', placeholder: '3' %>
  <%= label_tag 'iterations', 'Number of Iterations' %>
  <%= text_field_tag 'iterations', nil, id: 'iterations', placeholder: '10' %>
  <%= button_tag 'Render Chart', type: :button, class: 'render-chart' %>
<% end %>

<div id="renderChart"></div>

<div>
  <p>Id: <%= @automation_scenario.id %></p>
  <p>Owner Type: <%= @automation_scenario.owner_type %></p>
  <p>Owner Id: <%= @automation_scenario.owner_id %></p>
  <p>Created At: <%= @automation_scenario.created_at %></p>
  <p>Updated At: <%= @automation_scenario.updated_at %></p>
</div>
