<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
	  	<%if (OmniAuth::Utils.camelize(provider) == "GitHub")%>
	      <%= link_to omniauth_authorize_path(resource_name, provider), class: "btn btn-fill btn-block btn-block btn-sm btn-social btn-github" do %>
				    <span class="fa fa-github"></span> Sign in with Github
				<% end %>
		    <%else%>
		  		<%= link_to omniauth_authorize_path(resource_name, provider), class: "btn btn-fill btn-social btn-danger btn-block btn-sm btn-google" do %>
		  		<span class="fa fa-google"></span> Sign in with Google
				<% end %>
	  	<%end%>
	  	<br>
  <% end -%>
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>
