<div class="login-container">
  <div class="login-header">
    <h2>
      <span class="banner-title">Fill in the form below to gain access to</span>
      <span>AutomationScenario</span>
    </h2>
  </div>
  <div class="login-page">
    <h2>Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions">
        <%= f.submit "Reset Password" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>

</div>