%h1 Automation ROI Calculator

%h3.form-header
  Current Manual vs Future Automated
.container
  .row
    .col-4
      = form_for :automation_scenario do |f|
        .form-group
          = f.label :name
          = f.text_field :name, placeholder: 'Current Manual vs Future Automated', class: 'form-control'
        .form-group
          = f.label :iteration_count
          = f.number_field :iteration_count, placeholder: 100, class: 'form-control'
        .actions
          = f.submit 'Add a new Automation Scenario', class: 'btn btn-primary'
