%h3 Log in
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-group
    = f.label :email
    = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
  .form-group
    = f.label :password
    = f.password_field :password, autocomplete: "off", class: 'form-control'
  - if devise_mapping.rememberable?
    .form-check
      = f.check_box :remember_me, class: 'form-check-input'
      = f.label :remember_me, class: 'form-check-label'
  .actions.col-4
    = f.submit "Log in", class: 'btn btn-primary'
= link_to 'Forgot your password?', new_user_password_path
- provider_names = { github: 'GitHub', google_oauth2: 'GoogleOauth2' }
- resource_class.omniauth_providers.each do |provider|
  - display = provider_names.fetch(provider, OmniAuth::Utils.camelize(provider))
  = link_to "Sign in with #{display}", omniauth_authorize_path(resource_name, provider)
