<p id="notice"><%= notice %></p>

<p>
  <strong>Initial cost:</strong>
  <%= @solution.initial_cost %>
</p>

<p>
  <strong>Iteration cost:</strong>
  <%= @solution.iteration_cost %>
</p>

<p>
  <strong>Iteration count:</strong>
  <%= @solution.iteration_count %>
</p>

<p>
  <strong>Automation scenario:</strong>
  <%= @solution.automation_scenario_id %>
</p>
