!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Automation Calculator
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .navbar
      = link_to 'Automation Calculator', '#', class: 'navbar-brand'
      %ul.navbar-nav
        %li.nav-item
          - if user_signed_in?
            = link_to('Log out', destroy_user_session_path, method: :delete, class: 'nav-link')
          - else
            = link_to('Log in', new_user_session_path, class: 'nav-link')
    = yield
