!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Automation Calculator
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
      .row
        .col
          %h3.text-center
            Fill in the form below to gain access to
            %br/
            Automation Calculator
      .row
        .col
        .col
          = yield
          = render "devise/shared/links"
        .col
